
<!DOCTYPE html>
<html lang="en">
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <section class="container animated-section">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <h2 class="animated-heading">My Mission</h2>
            <p class="animated-text">I strive to create stunning web solutions that leave a lasting impression. My goal is to combine creativity, functionality, and user experience to deliver outstanding results.</p>
          </div>
        </div>
      </section>
      
      
    </div>
  </div>
</main>


<%- include partials/footer.ejs %>
</html>




