
<!DOCTYPE html>
<html lang="en">
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
  
    </div>
  </div>
</main>
<div class="container ">
  <div class="jumbotron text-center text-white" style="background-color: #d6e4ff; padding: auto;">
    <h1 class="display-4 animated-heading">About Me</h1>
    <p class="animated-text">Hello, my name is Muhammad Abdulsalam and I'm a web developer passionate about creating beautiful and functional websites.</p>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>Responsive Design</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Experience</h2>
      <ul>
        <li>Lead Developer at Mhd Digital Solutions</li>
        <li>Freelance Web Developer</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Education</h2>
      <p>Diploma, Software Eng. Technician- Centennial College 2023</p>
    </div>
  </div>
</div>


<%- include ../partials/footer.ejs %>
</html>




