
<!DOCTYPE html>
<html lang="en">
  <head>
<%- include ../partials/header.ejs %>
</head>
<!-- File name: about.ejs
  Student’s Name: Muhammad Abdulsalam 
  StudentID:301273806
   Date: June 3, 2023 -->
<body>
<%- include ../partials/main_nav.ejs %>
<main>
  <div class="jumbotron jumbotron-fluid" style="
  min-height: 100vh;">
    <div class="container">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="Assets/images/me.jpg" alt="Profile Photo" class="img-fluid rounded" height="350px" width="200px">
    </div>
    <div class="col-md-8">
      <div class="jumbotron text-center text-white" style="background-color: #d6e4ff; padding: auto;">
        <h1 class="display-4 animated-heading">About Me</h1>
        <p class="animated-text">Hello, my name is Muhammad Abdulsalam, and I'm a web developer passionate about creating beautiful and functional websites.</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Bootstrap</li>
        <li>Responsive Design</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Experience</h2>
      <ul>
        <li>Lead Developer at Mhd Digital Solutions</li>
        <li>Freelance Web Developer</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Education</h2>
      <p>Diploma, Software Eng. Technician- Centennial College 2023</p>
    </div>
  </div>
  <div class="container">
    <a href="docs/Mhd Dev resume.pdf" class="btn btn-primary">View My Complete Resume</a>
    </div>
</div>
</div>
</main>

<script src="/scripts/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
<footer class="footer bg-dark text-light py-3">  
<%- include ../partials/footer.ejs %>
</footer>

<script src="/jquery/dist/jquery.min.js"></script>
<!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
The code above I commented so I dont forget the change I made to get the navbar dropdown toggle to work.
I was using the bootstrap file path above, but It only worked when I changed to the one below
-->
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



