<!DOCTYPE html>
<html lang="en">
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container services-container">
        <div class="service-block">
          <img src="Assets/images/programming.jpg" alt="General Programming">
          <h3>General Programming</h3>
          <p>Offering expertise in various programming languages and technologies.</p>
        </div>
      
      
        <div class="service-block">
          <img src="Assets/images/web_dev.jpg" alt="Web Development">
          <h3>Web Development</h3>
          <p>Building responsive and user-friendly websites using the latest web technologies.</p>
        </div>
    
    
        <div class="service-block">
          <img src="Assets/images/mobile_dev.jpg" alt="Mobile Apps">
          <h3>Mobile Apps</h3>
          <p>Designing and developing mobile applications for iOS and Android platforms.</p>
        </div>


      </div>
<%- include ../partials/footer.ejs %>