body {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.navbar-brand img {
  width: 100px;
  height: 100px;
  
}


section.container {
  background-color: #e9f2fd;
  padding: 20px;
}

#contact {
  background-color: #e9f2fd;
}

.animated-section {
  animation-duration: 1s;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-center {
  text-align: center;
}

.animated-heading {
  color: #333;
  font-size: 28px;
  animation-duration: 1s;
  animation-name: fadeInDown;
}

.animated-text {
  color: #666;
  font-size: 16px;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom CSS for the card deck */
.card-deck {
  margin-bottom: 100px;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.card:last-of-type {
margin-bottom: 180px;
}

.img-fluid {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.img-fluid:hover {
  opacity: 1;
  cursor: pointer;
}

.card-body{
  background-color: #e9f2fd;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  color: #888;
}

/* Media query for responsive card columns */
@media (max-width: 767px) {
  .card-deck {
    flex-direction: column;
  }
  
  .card {
    margin-bottom: 30px;
  }
}


label{
  font-weight: bold;
}



.table-responsive {
  margin-bottom: 300px;
  overflow-y: auto;
}

